.d1 a{
    padding: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.d1{
    background-color: gainsboro;
    text-align: center;
    padding: 20px 0px;
    align-items: center;
}