*{
    margin: 0px;
    padding: 0px;
}
/* display */
/* .navFirst{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.logo{
    display: flex;
}
.content img{
    padding-right: 10px;
} */

/* logo img  */
/* .navFirst .logo img{
    width: 2rem;
    padding-right: 5px;
}
#person{
    width: 3rem;
}
#basket{
    width: 2rem;
    position: relative;
    bottom: 6.6px;
}

.inputbar{
    display: flex;
}
.inputbar input{
    width: 776px;
    height: 40px;
    padding: 5px;
}
.inputbar input:focus{
    border: skyblue solid;
}

.inputbar button{
    background-image: url("./images/search.png");
    background-size:cover;
    height: 40px;
    width: 40px;
    border: none;
} */

/* nav bar 2nd */
/* #contents{
    display: flex;
    background-color: grey;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
} */



/* section */
/* .leftContent{
    border-radius: 5px grey solid;
    background-color: greenyellow;
    width: 300px;
    height: 300px;
}
.leftContent #imgLeftMain{
    width: 5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px ;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.leftContent #imgLeftBottom{
    width: 3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px ;
    position: relative;
    transform: translateY(30px);
    left:50px;
    display: inline;
    justify-content: space-evenly;
}
.leftContent .innerImg{
    width: 200px;
    background-color: aquamarine;
    
} */


/* dhanu */

/* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  } */
  /* 
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  *{
    margin: 0px;
    padding: 0px;
  }
  .mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
  }
  
  .list{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .list p{
    padding: 0px 20px;
  }
  .topRightNav .search input{
      width: 300px;
      height: 28px;
      padding-left: 55.5px;
  }
  
  /* logo images size */
  .topRightNav img{
    width: 1.5rem;
  }
  
  
  .search button{
    background-image: url("./images/search.png");
    background-size: cover;
    background-size: 35px;
    background-color: skyblue;
    width: 40px;
    height: 30px;
    position: relative;
    top: 6.8px;
    padding: 1px;
    border-radius: 5px;

  }
  
  .topRightNav{
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 400px;
    display: block;
    height: 80px;
    text-align:right;
  }
  .topRightNav #topnavship{
      display: flex;
      text-align: center;
      align-items: center;
  }
  .topRightNav #topnavcart{
        display: flex;
        align-items: center;
        padding: 0px 20px;    
  }
  #topnavcart img{
    padding: 0px 8px;
  }

  .search{
      position: relative;
      top: 10px;
  }

  .logo{
      margin-left: 18px;
  }